body {
    background: linear-gradient(to bottom, #a2d4f0, #004e92); 
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    background-image: url('imagens/fundo-pagina.jpeg');
    background-size: cover;         
    background-repeat: no-repeat;  
    background-position: center;    
    background-attachment: fixed;   
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;

}


.container
{
   background-color: #464242;
   padding-top: 60px; 
   padding: 20px;
   border-radius: 5px;
   margin: 10px;
   height: 20px;
   width: 70%;
}

.button
{
   align-self: center;
   background-color: #464242;
   color: #ffffff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: larger;
   padding: 25px;
   border-radius: 5px;
   margin: 10px;
   height: 20px;
   width:73%;
   display: flex;             
   justify-content: center;   
   align-items: center;       
   cursor: pointer;
}

